{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/your_constitution.css' %}">
</head>
<body>
    {% include 'base/base_head.html' %}
    <main>
        <header>
            
        </header>
        <div class="background">
            <div class="box_cha">
                <img src="{% static 'img/tree_ch.gif' %}" alt="태음인">
                <h1>태음인</h1>
                
            </div>
            <div class="box">
                <img src="{% static 'img/목양체질.png' %}" alt="목양체질">
                <h2>목양체질</h2>
            </div>
            <div class="box">
                <img src="{% static 'img/목음체질.png' %}" alt="목음체질">
                <h2>목양체질</h2>
            </div>
        </div>
        <section class="tips">
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
        </section>
    </main>

    <main>
        <header>
        </header>
        <div class="background">
            <div class="background">
                <div class="box_cha">
                    <img src="{% static 'img/sand_ch.gif' %}" alt="소양인">
                    <h1>소양인</h1>
                    
                </div>
                <div class="box">
                    <img src="{% static 'img/토양체질.png' %}" alt="토양체질">
                    <h2>토양체질</h2>
                </div>
                <div class="box">
                    <img src="{% static 'img/토음체질.png' %}" alt="토음체질">
                    <h2>토음체질</h2>
                </div>
            </div>

        </div>
        <section class="tips">
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
        </section>
    </main>

    <main>
        <header>
        </header>
        <div class="background">
            <div class="background">
                <div class="box_cha">
                    <img src="{% static 'img/metal_ch.gif' %}" alt="태양인">
                    <h1>태양인</h1>
                    
                </div>
                <div class="box">
                    <img src="{% static 'img/금양체질.png' %}" alt="금양체질">
                    <h2>금양체질</h2>
                </div>
                <div class="box">
                    <img src="{% static 'img/금음체질.png' %}" alt="금음체질">
                    <h2>금음체질</h2>
                </div>
            </div>
        </div>
        <section class="tips">
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
        </section>
    </main>

    <main>
        <header>
        </header>
        <div class="background">
            <div class="background">
                <div class="box_cha">
                    <img src="{% static 'img/water_ch.gif' %}" alt="소음인">
                    <h1>소음인</h1>
                    
                </div>
                <div class="box">
                    <img src="{% static 'img/수양체질.png' %}" alt="수양체질">
                    <h2>수양체질</h2>
                </div>
                <div class="box">
                    <img src="{% static 'img/수음체질.png' %}" alt="수음체질">
                    <h2>수음체질</h2>
                </div>
            </div>

        </div>
        <section class="tips">
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
        </section>
    </main>
    {% include 'base/footer.html' %}

</body>
</html>